{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      ignorePseudoClasses: ["/global/"]
    }],
    "at-rule-no-unknown": [true, {
      ignoreAtRules: ["/include/"]
    }],
    "font-family-no-missing-generic-family-keyword": null,
    "selector-pseudo-element-colon-notation": "single",
    "selector-attribute-quotes": "always",
    "value-keyword-case": "lower",
    "string-quotes": "double",
    "declaration-block-no-duplicate-properties": true,
    "no-duplicate-selectors": true,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-redundant-longhand-properties": true
  }
}
