:global {
  header.app-header {
    background: #5490be;
    height: 30px;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 28px;
      color: white;
      font-style: inherit;
      font-family: cursive;
    }
  }
}
