:global {
  header.app-header {
    background: #4e5967;
    height: 40px;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      justify-content: center;
      padding: 10px;
      box-sizing: border-box;
      font-size: 40px;
      font-weight: 500;
      font-style: oblique;
      color: white;
      cursor: pointer;

      &:hover {
        color: gold;
      }
    }
  }
}
