:global {
  .chats-data.chats-messages {
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
    margin-left: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    .messages-actions-list {
      height: 50px;
      position: absolute;
      top: -50px;
      transition: top 0.5s;
      z-index: 1;
      background: #9b9bf7;
      width: 100%;
      display: flex;
      align-items: center;

      &.displayed {
        top: 0;
      }

      .action-button {
        padding: 8px 30px;
        border: solid 1px;
        margin: 0 20px;
        background: #f3f3f3;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
      }
    }

    .messages-list {
      background-color: #e9f0f1;
      position: relative;
      overflow-y: scroll;

      .message-item {
        display: flex;
        box-sizing: border-box;
        padding: 10px 0;
        margin-right: 10px;
        margin-left: 10px;
        transition: background-color 0.5s;
        cursor: pointer;

        img {
          max-height: 300px;
        }

        .left-part {
          width: 70px;

          .avatar-image {
            border: solid 1px;
            overflow: hidden;
            width: 50px;

            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .right-part {
          width: 100%;

          .user-information {
            color: #2b496f;
            font-weight: bold;
          }

          margin-left: 15px;
        }

        &.not-read-message {
          background-color: #c0cfd2;
        }

        &.editable-message {
          .right-part .message {
            border-left: solid 5px #9b9bf7;
            padding: 10px;
            max-height: 40px;

            img {
              max-height: 40px;
            }
          }
        }
      }

      .message-item.own-message {
        justify-content: flex-end;
      }

      .load-more-messages-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;

        .load-more-messages-button {
          padding: 5px 20px;
          background: #d0d0d6;
          border: solid 1px #ff8787;
          transition: background-color 0.5s;
          cursor: pointer;

          i {
            margin-right: 10px;
          }

          &:hover {
            background-color: #ababd8;
          }
        }
      }
    }

    .user-typing-message-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: #e9f0f1;

      .user-typing-message {
        font-size: 14px;
        font-weight: bold;
        color: rebeccapurple;
        height: 100%;

        i {
          margin-right: 5px;
        }
      }
    }

    .text-input-container {
      background-color: #4e4e4f;
      padding: 10px;
      box-sizing: border-box;

      .data-input {
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
      }

      .submit-button {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        button {
          display: inline-flex;
          width: initial;
          padding: 0 40px;

          .text {
            font-family: monospace;
          }

          .left-icon {
            margin-left: 0;
          }
        }
      }
    }
  }
}
