:global {
  .chats-data.chats-messages {
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
    margin-left: 10px;
    box-sizing: border-box;

    .messages-list {
      background-color: #e9f0f1;

      .message-item {
        display: flex;
        box-sizing: border-box;
        padding: 10px 0;
        margin-right: 10px;
        margin-left: 10px;
        transition: background-color 0.5s;

        .left-part {
          width: 70px;

          .avatar-image {
            border: solid 1px;
            overflow: hidden;
            width: 50px;

            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .right-part {
          width: 100%;

          .user-information {
            color: #2b496f;
            font-weight: bold;
          }

          margin-left: 15px;
        }
      }

      .message-item.own-message {
        justify-content: flex-end;
      }
    }

    .text-input-container {
      background-color: #4E4E4F;
      padding: 10px;
      box-sizing: border-box;

      .data-input {
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
      }

      .submit-button {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        button {
          display: inline-flex;
          width: initial;
          padding: 0 40px;

          .text {
            font-family: monospace;
          }

          .left-icon {
            margin-left: 0;
          }
        }
      }
    }
  }
}
