:global {
  .chats-list-container.chats-list {
    .chat-item-container {
      display: flex;
      border-bottom: solid 1px;
      box-sizing: border-box;
      padding: 10px 0;
      margin-right: 10px;
      transition: background-color 0.5s;

      .avatar-image {
        border: solid 1px;
        overflow: hidden;
        height: 52px;
        width: 52px;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .user-information {
        margin-left: 10px;
        width: calc(100% - 60px);

        .user-typing-message {
          display: block;
          font-size: 14px;
          font-weight: bold;
          color: rebeccapurple;

          i {
            margin-right: 5px;
          }
        }

        .online {
          color: rebeccapurple;
          margin-left: 5px;
          position: relative;
          top: -5px;
        }

        .not-read-messages-count {
          padding: 1px 10px;
          margin-left: 10px;
          background: #4e5967;
          font-size: 16px;
          color: white;
        }

        .message {
          max-height: 33px;
          overflow: hidden;
          color: #221a58;
          letter-spacing: 0;
          font-style: inherit;
          padding-right: 5;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #cedadc;
      }

      &.chat-selected {
        background: #a4a9b0;
        margin: 0 0 0 -10px;
        padding-left: 10px;
      }
    }
  }
}
