:global {
  .friend-avatar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 00px;
    border-bottom: solid 2px #4e5967;
    width: 48%;
    opacity: 0;
    transition: opacity 0.8s;

    &.displayed {
      opacity: 1;
    }

    .friend-avatar {
      .friend-image {
        img {
          max-width: 128px;
          max-height: 128px;
        }
      }
    }

    .friend-actions {
      button {
        margin-bottom: 10px;
      }
    }
  }
}
