:global {
  .notifications-container {
    position: absolute;
    height: 100vh;
    width: 100vw;

    &.displayed {
      z-index: 1000;
    }

    .notifications-content {
      position: relative;
      height: 100%;
      width: 100%;

      .notification-new-friend-container {
        width: 320px;
        height: 50px;
        z-index: 20;
        background: #dcd6d6;
        position: absolute;
        bottom: calc(1vh + 50px);
        left: 1vw;
        padding: 10px;

        .title {
          font-size: 20px;
          border-bottom: solid 1px;
          margin-bottom: 10px;
        }

        .content {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
