:global {
  .friends-container.route-container {
    padding: 10px;

    .friends-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .interval-render-item {
        width: 48%;
        margin-bottom: 10px;
      }
    }
  }
}
