:global {
  .app-container {
    background-color: white;
    font-style: italic;
    font-size: 21pixels;
    margin: 1px 1px 1px 1px;
    a:hover {
      color: #white;
    }
    a {
      display: block;
    }
  }
}
