:global {
  .sign-container {
    $blurWindowWidth: 300px;
    $blurWindowHeight: 300px;

    background-image: url("/img/LoginBG.jpg");
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;

    .sign-blurred {
      position: relative;
      width: $blurWindowWidth;
      height: $blurWindowHeight;
      top: calc(40% - 175px);
      left: calc(50% - 150px);
      background: inherit;
      border-radius: 2px;

      &:after {
        content: "";
        width: $blurWindowWidth;
        height: $blurWindowHeight;
        background: inherit;
        position: absolute;
        top: 0;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px);
      }

      .sign-header {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 40px;
        font-weight: 500;
        font-style: oblique;
        color: #50586d;
      }

      .sign-content {
        position: relative;
        margin-top: 10px;
        text-align: center;
        z-index: 1;
        padding: 10px;
      }
    }

    &.register-container {
      .sign-blurred {
        height: 520px;

        &:after {
          height: 520px;
        }
      }
    }
  }
}
